<div class="row">
  <div id="batman" class="col-xs-6">
    <div class="row">
      <div class="col-md-12 btn-group btn-group-justified">
        <a class="btn btn-primary" role="button" href=<%= asset_path(pages_batman_path) %>>Batman</a>
      </div>
    </div>
  </div>
  <div id="superman" class="col-xs-6">
    <div class="row">
      <div class="col-md-12 btn-group btn-group-justified">
        <a class="btn btn-primary" role="button" href=<%= asset_path(pages_superman_path) %>>Superman</a>
      </div>
    </div>
  </div>
</div>
